* {
  box-sizing: border-box;
}

body {
  --main-bg-color: #222;
  --main-font-color: #eee;
  height: 100vh;
  background: linear-gradient(#004e92, #000428);
  color: var(--main-font-color);
  font-family: Helvetica, sans-serif;
  text-align: center;
  background-attachment: fixed;
}

input {
  margin: 2rem auto;
  font-size: 2rem;
  height: 5vmax;
  width: 30vmax;
  line-height: 3rem;
  padding: 0rem 1rem 0rem 1rem;
  vertical-align: middle;
  border: none;
}

button {
  font-family: Helvetica, sans-serif;
  font-size: 2rem;
  height: 5vmax;
  width: 10vmax;
  line-height: 3rem;
  text-align: center;
  padding: 0rem 1rem 0rem 1rem;
  margin-left: 1rem;
  color: #eee;
  background: transparent;
  font-weight: bold;
  vertical-align: middle;
  border: 0;
  outline: 5px solid var(--main-font-color);
  transition: 0.5s ease-in-out;
}

button:hover {
  background: goldenrod;
  /* transform: scale(1.25); */
  transition: 1s ease-in-out;
}

button:focus {
  background: #64008c;
}

#title {
  font-size: 5rem;
  margin-top: 4rem;
  margin-bottom: 1rem;
}

.repo {
  margin: 2rem auto;
  max-width: 75vmin;
  background: rgba(0, 0, 0, 0.1);
  padding: 1rem 1rem;
  /* box-shadow: 0.5rem 0.5rem 0px var(--main-font-color); */
}

.red {
  color: goldenrod;
}

a:link {
  color: goldenrod;
}
